/* Base */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
}
body {
	color: #282520;
	background-color: #f0f0f0;
	font-family: "Raleway", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.55;
}
a {
	display: inline-block;
	text-decoration: none;
}
address {
	font-style: normal;
}
ul {
	list-style-type: none;
}

/* Font */
@font-face {
	font-display: swap;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/raleway-v29-latin-regular.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/raleway-v29-latin-500.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/raleway-v29-latin-600.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/raleway-v29-latin-700.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/raleway-v29-latin-900.woff2") format("woff2");
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	flex: 1;
}

/* * HEADER */
.header {
	width: 100%;
	max-width: 96rem;
}

.header__container {
	width: 100%;
	padding: 1.7778rem 5.3333rem 3.7778rem 5.3333rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Header-logo */
.header__logo {
	height: 6.1111rem;
	border-radius: 4.2778rem;
	padding: 0.9444rem 4.4444rem;
	background-color: #ffd364;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Burger */
.header__burger {
	display: none;
	cursor: pointer;
}

.header__menu-container {
	width: 100%;
	height: 6.1111rem;
	padding: 2.3889rem 2.3889rem 2.3889rem 2.7778rem;
	border-radius: 4.2778rem;
	background-color: #ffffff;
	font-weight: 500;
	line-height: 1.3;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Header-link */
.header__menu {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2.7778rem;
}

.header__menu.active {
	background-color: transparent;
}

.header__link {
	min-width: 3.7889rem;
	transition: color 0.5s;
	color: #282520;
}

.header__link:hover {
	color: #ffd364;
	font-weight: 700;
}

/* Social-icons */
.header__social-account {
	display: flex;
	padding-left: 11.5rem;
}

.header__icons-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.8889rem;
}

.header__icons-link {
	display: flex;
	flex-shrink: 0;
}

/* Account */
.header__account {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__user-link {
	padding-left: 2.2222rem;
}

.header__user-login {
	padding-left: 1.0661rem;
	font-weight: 500;
	line-height: 1.3;
	color: #282520;
}

/* Button */
.header__button {
	height: 6.1111rem;
	padding: 2.3889rem 2.3889rem 2.3889rem 2.2222rem;
	border: #ffd364;
	border-radius: 4.2778rem;
	background-color: #ffd364;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.6111rem;
}

.header__button-text {
	min-width: 7rem;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
	letter-spacing: -1px;
	cursor: pointer;
}

.header__icon-eyes {
	display: flex;
	flex-shrink: 0;
}

/* MAIN */
/* Hero-section__balloons*/
.main {
	width: 100%;
	margin: 0 auto;
}

.hero-section {
	width: 100%;
	max-width: 64.0556rem;
	height: 28.5556rem;
	margin: 0 auto;
}

.hero-section__image {
	overflow: hidden;
}

.hero-section__image img {
	border-radius: 4.2778rem;
	display: block;
}

.hero-section__balloons {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}
/* Update-section */
.update-section {
	margin-top: 1.8889rem;
	display: flex;
	justify-content: center;
	gap: 41.6667rem;
}

.update-section__date {
	font-size: 0.7778rem;
	font-weight: 400;
	line-height: 1.1;
	color: #d9aeff;
}

.update-section__system {
	width: 7.8889rem;
	height: 1.3333rem;
	border-radius: 5rem;
	background-color: #d9aeff;
}

.update-section__title {
	font-size: 0.6667rem;
	font-weight: 700;
	line-height: 1.3;
	color: #ebff76;
	padding: 0.2222rem 0.4444rem;
}

/* Main-container */
.main-container {
	max-width: 47.22221rem;
	margin: 0 auto;
}

/* Title-section */
.title-section__title {
	margin-top: 2.2222rem;
	margin-bottom: 2.7778rem;
	font-size: 2.7778rem;
	font-weight: 900;
	text-align: left;
	letter-spacing: -2px;
}

.title-section__paragraph {
	margin-bottom: 1.3889rem;
}

/* Subtitle-section-1 */
.subtitle-section__title {
	margin-top: 2.7778rem;
	margin-bottom: 1.6667rem;
	font-size: 1.7778rem;
	font-weight: 900;
	line-height: 1.25;
	color: #d9aeff;
}

.subtitle-section__violet-block {
	margin-bottom: 1.3889rem;
	font-size: 1.3333rem;
	font-weight: 600;
	line-height: 1.3;
	color: #d9aeff;
}

.subtitle-section__black-accent {
	font-weight: 600;
}

/* Slider */
.slider {
	position: relative;
	margin-top: 2.7778rem;
}
.slider-items {
	overflow: hidden;
}

.slider-items img {
	border-radius: 4.2778rem;
	display: block;
}

.slider-hide {
	animation-name: slider-hide;
	animation-duration: 1.5s;
	transition: transform 0.5s ease;
}

.slider__prev,
.slider__next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.slider__prev {
	left: 1.1111rem;
	margin-left: -6.6667rem;
}

.slider__next {
	right: 1.1111rem;
	margin-right: -6.6667rem;
}
.slider__strips {
	margin-bottom: 2.7778rem;
	text-align: center;
}

.strip {
	height: 0.4444rem;
	width: 4.4444rem;
	border-radius: 0.4444rem;
	margin: 0 1.1111rem;
	background-color: #ffffff;
	display: inline-block;
	cursor: pointer;
	transition: background-color 0.6s ease;
}
.active,
.strip:hover {
	background-color: #d9aeff;
}

@keyframes slider-hide {
	from {
		opacity: 0.7;
	}
	to {
		opacity: 1;
	}
}
/* .......... */

.subtitle-section__violet-accent {
	color: #d9aeff;
}

/* Quotes  */

.text-container {
	position: relative;
}

.text-container__quotes {
	position: absolute;
	top: -50%;
	left: -18%;
}

.text-container__text .text-container__black-block {
	width: 55rem;
	margin-top: 6.2222rem;
	margin-bottom: 3.5556rem;
}

.text-container__black-block {
	font-size: 1.7778rem;
	font-weight: 600;
	line-height: 1.3;
}

/* List */
.subtitle-section__list {
	max-width: 47.2222rem;
	margin-bottom: 8.4444rem;
}

.subtitle-section__list .subtitle-section-item {
	background-image: url("/images/circle_violet.png");
	background-size: 0.4444rem 0.4444rem;
	background-repeat: no-repeat;
	padding-left: 1.1111rem;
	background-position: 0.0556rem 0.5556rem;
}

/* FOOTER*/
.footer {
	width: 100%;
	max-width: 96rem;
}

.footer__container {
	width: 100%;
	height: 13.6667rem;
	border-radius: 4.2778rem;
	margin: 0 auto;
	margin-bottom: 3.0556rem;
	background-color: #ffffff;
	display: flex;
	align-items: center;
}

/* Footer-address */
.footer__address {
	padding: 2.2222rem 7.2222rem 2.5rem 4.4444rem;
}

.footer__title {
	padding-bottom: 1.1111rem;
	font-size: 2.7778rem;
	font-weight: 900;
	line-height: 1.17;
	color: #ffd364;
}

.footer__link {
	font-size: 0.8889rem;
	line-height: 1.37;
	color: #282520;
}

/* Footer-icons */
.footer__icons-list {
	display: flex;
	padding: 8.7222rem 46.0556rem 2.7222rem 0;
}

.footer__icons-link {
	padding-left: 0.7778rem;
}

/* Footer-logo */
.footer__logo {
	margin: 3.7778rem 6.8333rem 4rem 0;
}

/*......................1730px......................*/
@media screen and (max-width: 1730px) {
	.header__menu-container {
		padding: 2.3889rem 1.1111rem;
	}

	.header__user-link {
		padding-left: 1.1111rem;
	}

	.header__menu {
		display: flex;
		gap: 1.1111rem;
	}

	.header__social-account {
		padding-left: 5rem;
	}

	.footer {
		width: 87%;
	}

	.footer__address {
		padding-left: 10rem;
	}

	.footer__icons-list {
		padding-right: 15rem;
	}
}
/*......................1430px......................*/
@media screen and (max-width: 1430px) {
	.header__logo {
		padding: 2rem 4rem;
	}

	.header__button {
		padding: 2rem 2rem;
	}

	.header__menu-container {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.header__menu {
		gap: 0.8em;
	}

	.header__social-account {
		padding-left: 1rem;
	}

	.header__user-link {
		padding-left: 1rem;
	}

	.header__user-login {
		padding-left: 0.5rem;
	}

	.hero-section {
		width: 75%;
	}

	.update-section {
		margin-top: 0.1rem;
		display: flex;
		gap: 30rem;
	}

	.footer {
		width: 95%;
	}

	.footer__icons-list {
		padding-right: 12rem;
	}
}
/*......................1280px......................*/
@media screen and (max-width: 1280px) {
	.header__container {
		width: 100%;
		padding: 1rem 3rem;
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}

	.header__logo {
		padding: 1rem 4rem;
	}

	.header__burger {
		display: block;
		border: none;
		padding-right: 55px;
		background-color: transparent;
		position: relative;
	}

	.header__burger.active {
		background-color: transparent;
	}

	.header__menu-container {
		padding: 1rem 0.1rem;
	}

	.header__menu {
		width: 10rem;
		height: 16rem;
		padding-right: 50px;
		top: 6rem;
		left: 3rem;
		background-color: #ffd364;
		border: 3px solid #ebff76;
		display: flex;
		flex-direction: column;
		position: absolute;
	}

	.header__menu.active {
		display: none;
	}

	.header__menu .header__link {
		padding-top: 1rem;
		padding-left: 2.5889rem;
	}
	.header__social-account {
		margin: 0 auto;
	}
	.header__user-login {
		padding-right: 1rem;
	}

	.header__button {
		padding: 1rem 4rem;
	}
	.update-section {
		margin-top: 2rem;
		display: flex;
		gap: 20rem;
	}

	.hero-section {
		margin-top: 2rem;
		margin-bottom: -4rem;
	}

	.main-container {
		max-width: 33.3333rem;
	}
	.title-section__title {
		font-size: 2.2222rem;
	}
	.text-container__quotes {
		position: absolute;
		top: -55%;
		left: -22%;
	}

	.text-container__text .text-container__black-block {
		width: 40rem;
		margin-top: 6.2222rem;
		margin-bottom: 3.5556rem;
	}

	.text-container__black-block {
		font-size: 1.7778rem;
		font-weight: 600;
		line-height: 1.3;
	}
	.footer__icons-list {
		padding-right: 5rem;
	}
}
/*......................1150px...................... */
@media screen and (max-width: 1150px) {
	.header__menu {
		position: absolute;
		top: 6rem;
		left: 2rem;
	}

	.update-section {
		margin-top: -7rem;
		display: flex;
		gap: 20rem;
	}

	.footer__address {
		margin-left: 2rem;
	}

	.footer__contacts {
		margin-top: 0.1rem;
	}

	.footer__logo {
		margin-left: -14rem;
		margin-bottom: 6rem;
	}
	.footer__social-icons {
		margin-top: 1rem;
	}
}

/*......................1024px...................... */
@media screen and (max-width: 1024px) {
	.header__menu-container {
		margin: 0 auto;
	}

	.header__logo {
		padding: 1rem 1.5rem;
	}

	.header__menu-container {
		padding: 1rem 1.5rem;
	}

	.header__social-account {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5rem;
	}

	.header__button {
		padding: 1rem 1.5rem;
	}

	.header__menu {
		position: absolute;
		top: 6rem;
		left: 2rem;
	}

	.update-section {
		margin-top: -9rem;
		display: flex;
		gap: 10rem;
	}

	.title-section__title,
	.subtitle-section__title {
		text-align: center;
	}

	.slider__prev {
		margin-left: -5rem;
	}

	.slider__next {
		margin-right: -5rem;
	}

	.text-container__quotes {
		position: absolute;
		top: -55%;
		left: -2%;
	}

	.text-container__text .text-container__black-block {
		width: 35rem;
	}

	.footer__container {
		padding-right: 9rem;
	}

	.footer__address {
		margin-left: -6rem;
	}
}
/*......................768px......................*/
@media screen and (max-width: 768px) {
	.header__container {
		width: 100%;
		padding: 1rem 7rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	.header__logo {
		padding: 1rem 7rem;
		display: flex;
		gap: 7rem;
	}
	.header__menu-container {
		width: 33rem;
		margin-left: 3rem;
		margin-right: 3.5rem;
	}

	.header__social-account {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
	}

	.header__button {
		padding: 1rem 8.5rem;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		gap: 7rem;
	}

	.header__burger {
		position: relative;
	}

	.header__menu {
		position: absolute;
		left: 7rem;
		top: 5.5rem;
	}

	.hero-section {
		width: 100%;
		max-width: 33rem;
	}

	.update-section {
		margin-top: -13rem;
		display: flex;
		gap: 10rem;
	}

	.main-container {
		max-width: 27.7778rem;
	}

	.title-section__title {
		font-size: 1.7778rem;
		margin-bottom: 1rem;
	}

	.title-section__title,
	.subtitle-section__title {
		text-align: center;
	}

	.title-section__paragraph,
	.text-container__text .text-container__black-block,
	.subtitle-section__list {
		text-align: justify;
	}

	.subtitle-section__title {
		font-size: 1.5556rem;
	}

	.subtitle-section__violet-block {
		font-size: 1.2222rem;
	}

	.slider {
		max-width: 25rem;
		margin: 0 auto;
	}

	.text-container__quotes {
		position: absolute;
		top: -80%;
		left: 1%;
	}

	.text-container__text .text-container__black-block {
		width: 28rem;
		margin-top: 6.2222rem;
		margin-bottom: 3.5556rem;
		font-size: 1.3333rem;
	}

	.strip {
		height: 0.4444rem;
		width: 3.3333rem;
	}
	.footer__container {
		width: 100%;
		max-width: 33rem;
	}

	.footer__address {
		padding-left: 9rem;
	}

	.footer__logo {
		margin-left: -14rem;
	}

	.footer__icons-list {
		margin-left: -5rem;
	}
}

/*......................620px......................*/
@media screen and (max-width: 620px) {
	.header__container {
		width: 100%;
		margin: 0 auto;
	}

	.header__logo {
		padding: 1rem 3.5rem;
	}

	.header__menu-container {
		max-width: 26rem;
		padding: 1rem 0.5rem;
	}

	.header__button {
		padding: 1rem 4.5rem;
		margin: 0 auto;
	}

	.header__menu {
		position: absolute;
		left: 3rem;
		top: 5.5rem;
	}

	.hero-section {
		width: 100%;
		max-width: 26rem;
	}

	.main-container {
		max-width: 22rem;
		margin: 0 auto;
	}

	.slider {
		margin-top: 4rem;
	}

	.slider__prev {
		margin-top: -7rem;
		margin-left: 1rem;
	}

	.slider__next {
		margin-top: -7rem;
		margin-right: 1rem;
	}

	.text-container__quotes {
		position: absolute;
		top: -50%;
		left: 1%;
	}

	.text-container__text .text-container__black-block {
		width: 22rem;
	}

	.text-container__black-block {
		font-size: 1.6667rem;
	}

	.footer__container {
		width: 100%;
		max-width: 26rem;
	}

	.footer__address {
		padding-left: 8rem;
	}

	.footer__title {
		font-size: 2.1111rem;
	}

	.footer__link {
		font-size: 0.7778rem;
	}

	.footer__logo {
		margin-left: -13rem;
	}

	.footer__icons-list {
		margin-left: -7rem;
	}
}

/*......................480px......................*/
@media screen and (max-width: 480px) {
	.header__menu-container {
		margin: 0 auto;
	}

	.header__logo {
		width: 17rem;
		display: flex;
		gap: 2rem;
	}

	.header__menu-container {
		width: 17rem;
		margin-left: -3rem;
		margin-right: -3rem;

		display: flex;
		justify-content: center;
	}

	.header__social-account {
		display: flex;
		gap: 0.5rem;
	}

	.header__button {
		width: 17rem;
		display: flex;
		gap: 2rem;
	}

	.header__menu {
		position: absolute;
		left: 2rem;
		top: 5.5rem;
	}

	.hero-section {
		width: 100%;
		max-width: 22rem;
	}

	.update-section {
		margin-top: -15rem;
		display: flex;
		gap: 0.5rem;
	}

	.main-container {
		max-width: 19rem;
		margin: 0 auto;
	}

	.slider__prev,
	.slider__next {
		margin-top: -6rem;
	}

	.strip {
		height: 0.3rem;
		width: 2.5rem;
	}

	.text-container__quotes {
		position: absolute;
		top: -45%;
		left: 1%;
		flex-shrink: 1;
	}

	.text-container__text .text-container__black-block {
		width: 17rem;
	}

	.text-container__black-block {
		font-size: 0.5rem;
	}

	.main-container {
		max-width: 19rem;
		margin: 0 auto;
	}

	.text-container__black-block {
		font-size: 0.3333rem;
	}

	.footer__container {
		max-width: 21rem;
		margin: 0 auto;
		height: 17rem;
		padding-top: 5rem;
	}

	.footer__address {
		margin-top: 1rem;
		margin-left: -6rem;
	}

	.footer__title {
		font-size: 1.9222rem;
	}

	.footer__link {
		font-size: 0.7rem;
	}

	.footer__logo {
		margin-top: -8rem;
		margin-left: -18rem;
	}

	.footer__icons-list {
		margin-top: -5rem;
		margin-left: -7rem;
		display: flex;
		flex-direction: column;
	}
}

/*......................320px......................*/
@media screen and (max-width: 320px) {
	.header__logo {
		max-width: 15rem;
		padding: 1rem;
		display: flex;
		gap: 1rem;
	}

	.header__menu-container {
		padding: 1rem 1rem;
		max-width: 15rem;
		display: flex;
		justify-content: center;
	}

	.header__button {
		padding: 1rem 4rem;
		margin: 0 auto;
		max-width: 15rem;
		display: flex;
		gap: 1rem;
	}

	.hero-section {
		width: 100%;
		max-width: 20rem;
		margin-top: -0.1rem;
	}

	.update-section__date {
		margin-top: -5rem;
		text-align: center;
	}

	.update-section__system {
		width: 8rem;
		height: 1rem;
		margin-top: -3rem;
		margin-left: -7rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main-container {
		max-width: 15rem;
	}

	.title-section__title {
		font-size: 1.3333rem;
		margin-top: -0.5rem;
	}

	.subtitle-section__title {
		font-size: 1.1111rem;
	}

	.subtitle-section__violet-block {
		font-size: 1rem;
	}
	.slider {
		margin-top: 5rem;
		width: 15.5rem;
	}

	.slider__prev,
	.slider__next {
		margin-top: -6rem;
		flex-shrink: 1;
	}

	.strip {
		height: 0.3333rem;
		width: 1.9222rem;
	}
	.text-container__quotes {
		position: absolute;
		top: -35%;
		left: 1%;
		flex-shrink: 1;
	}
	.text-container__text .text-container__black-block {
		width: 15rem;
	}
	.text-container__black-block {
		font-size: 1.1111rem;
		margin-bottom: 2rem;
	}
	.footer__icons-list {
		margin-left: -7.5rem;
	}
}
